span{
    font-size: 200;
}
h1{
    color: blue;
}
h2{
    color: blue;
}

























/* h1{
    color: #c127aa;
    font-size: 30px;

}
p{
    color:#6171c0;
} */
/* .div1{
    color: green;
}
.div2{
    color: yellow;
}
.div3{
    color: red;
} */
/* h1,h2{
    color: black;
} */